@font-face {
    font-family: 'Neuropol-X-Free';
    src:url('../font/Neuropol-X-Free.ttf.woff') format('woff'),
        url('../font/Neuropol-X-Free.ttf.svg#Neuropol-X-Free') format('svg'),
        url('../font/Neuropol-X-Free.ttf.eot'),
        url('../font/Neuropol-X-Free.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gasalt';
    src:url('../font/Gasalt-Black.ttf');
		font-weight: normal;
    font-style: normal;
	}

html{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

li{
	list-style: none;
    margin-bottom: 20px;
	}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.top {
    margin-top: 150px;
}


#team_members p{
	font-size: 12px;
	margin-bottom: -20px;
	margin-top: 0px;
}
.qr_code{
	float: left;
	display: inline-block;
    width: 120px;
    height: 50px;
    text-align: center;
    padding: 100px;
    background-color: #fff;
    margin-left: 15px;
    vertical-align: top;
    z-index: 200;
}
.description{
	float: right;
	text-align: center;
	display: inline-block;
    width: 50%;
    height: 50px;
    padding: 100px;
    background-color: #fff;
    margin: 15px;
    z-index: 200;
}

* {
    margin: 0;
}
html,body{
    background-image: url(../img/bg_desktop.png);
    /*background-size: cover;*/
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*overflow: hidden;*/
}

h2{
    font-family:"Gasalt";
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
.logo{
    background-color: #edf5f9;
		height: 8vw;
    border-bottom:dotted #864cbf;
}

.register_qr{
	text-align: center;
}

a {
    font-family:"Neuropol-X-Free","Gasalt";
    text-decoration: none;
    color: black;
		width: 400px;
		height: 100%;
}

a:hover {
    color: #ffffff;
    cursor: pointer;
}
.betterbutton{
	background-color: #d6f440;
	width: 250px;
	line-height: 50px;
	border-radius: 5px;
	border-style: none;
	font-size: 20px;
	z-index: 100;
	position: relative;
	margin: 0 auto;
	display: block;
	text-align: center;
}
.betterbutton:hover{
	background-color: #864cbf;
	color: white;
}
h3{
margin-left: 10px;
margin-bottom: 5px;
font-family:"Gasalt";
font-size: 25px;

}
ul{
	padding:0px;
}
button {
    background-color: #d6f440;
    width: 400px;
    height: 3.0em;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    z-index: 100;
    margin: 0 auto;
    position: relative;
}
button:hover {
    background-color: #864cbf;
    color: white;
}

.homeaccount{
    background-color: #d6f440;
    width: 200px;
    height: 2.0em;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    z-index: 100;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
}

.pixels{
    position: fixed;
    overflow: hidden;
    bottom:0;
    right:0;
    padding:0;
    z-index: -20;
}
p{
    font-family:"Gasalt";
    font-weight: 800;
    font-size: 28px;
}
.qr{
    height: 230px;
    width: 230px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 60px;
}
.text1{
    font-size: 16px;
    width: 228px;
    margin: 0 auto;
    padding-top: 5px;
    z-index: 100;
    position: relative;
}
.rate{
    text-align: center;
    padding-top: 3.5px;
}
.left-div
{
  display: inline-block;
  width: 120px;
  height: 50px;
  text-align: center;
  padding: 100px;
  background-color: #fff;
  margin: 15px;
  vertical-align: top;
  z-index: 200;
}
.right-div
{
  display: inline-block;
  width: 120px;
  height: 50px;
  padding: 100px;
  background-color: #fff;
  margin: 15px;
  text-align: center;
  z-index: 200;
}
.kader{
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    max-width: 800px;
    z-index:200;
}

.h1{
    margin:auto;
    margin-top:-80px;
    padding:15px;
    background-color:#d6f440;
    color:black;
    font-family: 'Neuropol-X-Free';
    width:250px;
    font-size:28px;
    text-align: center;
    border:dashed purple 2px;
    z-index: 2;
}
.pixelscore{
    /*background-image: url(../img/Pixels.png);*/
    background-size:100% 100%;
    background-position: center;
    background-attachment:local;
    margin: 50px auto;
    background-color: #edf5f9;
    border:dashed #864bdf 2px;
    padding-top:60px;
    height:500px;
    width:100%;
		max-width: 700px;
    z-index:-1;
}
.leaderboard td{
    font-size: 35px;
    width: 5%;
    height:46px;
    font-family:"Gasalt";
    text-align:center;
    border-bottom: dashed #864bdf 2px;
    border-width:2px;
}
.een td{
	text-align: right;
}
.leaderboard{
    margin:0 auto;
    width:90%;
}

.leaderboard .stars{
	width:30px;
	height: 30px;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
	background-size: cover;
	float: left;
}
@media screen and (max-width: 600px)
{
  .left-div, .right-div
    {
       max-width: 100%;
    }
}
/*---- form ----*/

input{
    height: 3.0em;
    width: 300px;
    margin-top: 10px;
}

.input{
    height: 3.0em;
    width: 300px;
    margin-top: 30px;
}

form{
width: 300px;
margin: 0 auto;
}

input[type="submit"] {
    background-color: #d6f440;
    width: 305px;
    height: 3.0em;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    z-index: 100;
    margin: 0 auto;
    position: relative;
    margin-top: 5px;
    font-family:"Neuropol-X-Free";
}

input[type="submit"]:hover{
      background-color: #864cbf;
    color: white;
    cursor: pointer;
}

.label{
    font-size: 20px;
    margin-bottom: -15px;
    margin-top: 15px;
}

/*---- mobile design ----*/
@media (min-width: 325px){

.logo{
    text-align: center;
}
.stars{
    text-align: center;
    margin-top: 4%;
}
.button1 {
    text-align: center;
    margin-top: 5%;
    z-index: -1;
}
.text{
    text-align: center;
    margin-top: 35%;
}
